@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
body{
    font-family: 'Martian Mono';
    font-family: 'Inter';
}
.header{
    width: 1440px;
    height: 820px;
}
.header__icon{
    margin-left: 135px;
    margin-top: 32px;
}
.header__Grid{
    margin-top: 80px;
    margin-left: 135px;
    height:606px;
}
.header__Grid{
    display: flex;
    align-items: center;
    gap: 64px;
}
.Grid_Container h1{
    width: 570px;
    font-size: 62px;
    font-weight: 700;
    line-height: 74.4px;
    color:  rgba(6, 38, 48, 1);
    font-family: 'Martian Mono';
}
.Grid_Container p{
    width: 570px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.Grid_Container button{
    width:380px;
    height:64px;
    border-radius: 8px;
    border: 2px solid  rgba(6, 38, 48, 1);
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
}
.Grid_Container button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}
.Grid_Container img{
    margin-top:20px;
}

.main_Container{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 135px;
}

.Fts__list{
    display: flex;
    align-items: center;
    gap: 14px;
}
.Text__container h1{
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
}
.list__text{
    color: #385159;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 389px;
}
.main__container{
    margin-top: 120px;
    height: 520px;
    background-image: url(/pages/ImageContainer.svg);
    background-repeat: no-repeat;
    background-position: 610px;
    display: flex;
    align-items: center;
    gap: 1px;
    margin-left: 132px;
}
.cnt__img2 img{
    margin-top: 115px;
}
.Text__container2 h1{
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 534px;
}
.Text__container2 p{
    color: #385159;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 430px;
}
.Text__container2 strong{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.reading_j{
    height: 454px;
    background: var(--colors-neutral-50, rgba(250, 245, 243, 1));
    padding-left: 135px;
    margin-top: 120px;
}
.reading_j h1{
    font-family: 'Martian Mono';
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    padding-left: 300px;
    text-align: center;
    text-decoration-skip-ink: none;  
    padding-top: 80px;  
    width: 572px;
    color: #062630;
}
.reading_j img{
    padding-top: 80px;
    padding-left: 100px;
}
.membership{
    margin-left: 235px;
    width: 970px;
    height: 519px;
    padding-top: 120px;
}
.membership h1{ 
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.option__card{
    width:286px;
    height:358px;
    border-radius: 8px;
    border: 1px solid  #E6E1DF;
    background-color: #FFFFFF;
}
.option__card2{
    width:350px;
    height:420px;
    border-radius: 8px;
    border: 1px solid  #E6E1DF;
    background: var(--colors-neutral-50, #FAF5F3);
}
.opt_detls{
    width:238px;
    height:215px;
    padding-left: 20px;
    padding-top: 20px;
    color: #062630;
}
.opt_detls{
    width:238px;
    height:215px;
    padding-left: 20px;
    padding-top: 20px;
    color: #062630;
}
.sbr{
    width:402px;
    height:63px;
    border-radius: 8px;
    border: 2px solid #062630;
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 75px;
    margin-left: 24px;
}
.opt_detls h1{
    font-family: 'Martian Mono';
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.price{
    display: flex;
    align-items: center;
    gap: 8px;
}
.price h1{
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 34px;
    font-weight: 600;
    line-height: 44.2px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.price p{
    color: #385159;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.divier{
    border: 1px solid #E6E1DF;
}
.ftr_c{
    height: 28px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
}
.ftr_c2{
    height: 28px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.ftr_c,.ftr_c2{
    margin-bottom: 16px;
}
.ftr_c p{
    color: #385159;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.ftr_c2 p{
    color: #385159;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.opt_detls button{
    width:238px;
    height:63px;
    border-radius: 8px;
    border: 2px solid #062630;
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 43px;
}
.opition{
    display: flex;
    align-items: center;
    gap: 24px;
}
.opt_detls button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}
.opt_detls2 button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}
.tsmnl{
    margin-top: 120px;
    margin-left: 235px;
}
.tsmnl img{
    padding-left: 403px;
}
.tsmnl h1{
    width: 970px;
    color: #062630;
    font-family: 'Martian Mono';
    font-size: 34px;
    font-weight: 600;
    line-height: 44.2px;
    letter-spacing: -1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.tsmnl p{
    color: #385159;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 350px;
}

.f__div{
    height: 551px;
    background-color: #062630;
    margin-top: 120px;
}
.mcc{
    padding-top: 80px;
    margin-left: 343px;
}
.mcc h1{
    width: 685px;
    color: #FAF5F3;
    font-family: 'Martian Mono';
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.mcc button{
    width: 380px;
    height: 64px;
    background-color: #062630;
    border: 2px solid var(--colors-neutral-0, #FFFFFF);
    border-radius: 8px;
    color: white;
    font-family: 'Martian Mono';
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 40px;
    margin-left: 150px;
}
.mcc button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #385159 0%, #062630 100%);
}
.mcc img{
    padding-left: 150px;
    padding-top: 24px;
}
.ctt{
    width: 1170px;
    margin-top: 64px;
    border-top: 1px solid  #385159;
}

.contentft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media{
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 135px;
}
.media img:hover{
    cursor: pointer;
    fill: #FFFFFF;
    opacity: 60%;
}
.text{
    color: white;
    padding-left: 135px;
}
@media (max-width: 768px) /*Table*/ {
    .option__card{
        width: 340px;
        height: 358px;
    }
    .opt_detls{
        padding-top: 12px;
        line-height: 12px;
    }
    .opt_detls h1{
        font-family: 'Martian Mono';
        font-size: 24px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: -1px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
    .tsmnl{
        margin-top: 590px;
        margin-left: 2%;
    }
    .f__div{
        margin-top: 544px;
    }
    .opition{
        width: 704px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .reading_j{
        display: none;
    }
    .membership{
        margin-left: 2%;
    }
    .membership h1{
        font-family: 'Martian Mono';
        font-size: 50px;
        font-weight: 600;
        line-height: 65px;
        letter-spacing: -2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
    .main__container{
        margin-left: 12px;
        height: 931px;
        background-image: url(/pages/ImageContainer.svg);
        background-position: bottom left;
        background-size: 704px;
        display: block;
    }
    .cnt__img2 img{
        margin-top: 365px;
        padding-left: 534px;
    }
    .Fts__list{
        align-items: center;
    }
    .main_Container{
        display: block;
        flex-direction: column;
        margin-top: 80%;
        margin-left: 2%;
    }
    .main{
        margin-left: 3%;
    }
    .cnt__img{
        order: 2;
        padding-left: inherit;
        align-items: center;
    }
    .Text__container{
        order: 1;
        font-family: 'Martian Mono';
        font-size: 50px;
        font-weight: 600;
        line-height: 65px;
        letter-spacing: -2px;
        width: 704px;

    }
    .list__text{
        width: 704px;
    }
    .Grid_Container button:hover{
        cursor: pointer;
        background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    }
    .Grid_Container p{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        width: 704px;
    }
    .header__Grid{
        display: block;
        margin-left: 2%;
    }
    .header__icon {
        margin-left: inherit; 
    }
    .Hero__Images{
        margin-top: 64px;
    }
}

@media (max-width: 391px) /*mobile*/ {
    .main__container{
        margin-top: 64px;
        background-size: 343px;
        background-position: 15%;
    }
    .Text__container2 p{
        color: #385159;
        width: 343px;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
    .Text__container2 h1{
        width: 343px;
        font-family: 'Martian Mono';
        font-size: 34px;
        font-weight: 600;
        line-height: 44.2px;
        letter-spacing: -2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .cnt__img img {
        width: 343px;
        height: 318px;
    }
    .Text__container h1{
        font-family: 'Martian Mono';
        font-size: 34px;
        font-weight: 600;
        line-height: 44.2px;
        letter-spacing: -2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
    .Fts__list p{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 301px;
    }
    .header__icon {
        margin-left: 2%;
    }
    .header__Grid{
        display: block;
        margin-left: 2%;
        margin-top: 4%;
    }
    .Grid_Container h1{
        font-family: 'Martian Mono';
        font-size: 38px;
        font-weight: 700;
        line-height: 45.6px;
        width: 349px;
    }
    .Grid_Container button:hover{
        cursor: pointer;
        background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    }
    .Grid_Container p{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        width: 343px;
    }
    .Grid_Container button{
        width: 343px;
        height: 64px;
        font-family: 'Martian Mono';
        font-size: 16px;
        font-weight: 600;
        line-height: 20.8px;
    }
    .Grid_Container img {
        width: 343px;
        height: 62px;
    }
    .Hero__Images img{
        width: 343px;
        height: 371.89px;
    }
    .Hero__Images{
        margin-top: 64px;
    }
}